body {
    font-style: Roboto;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    margin: 0;
    padding: 0;
}

.header, .hero {
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

a {
    text-decoration: none;
}

.secondary-text {
    font-size: 18px;
    font-weight: light;
    color: #E5E7EB;
}