body {
    font-family: Roboto, sans-serif;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.header, .hero {
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 16px 100px;
}

.hero {
    padding: 128px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
}

.secondary-text {
    font-size: 18px;
    font-weight: light;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.hero .main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 8px 24px;
    flex-basis: 140px;
    max-height: 36px;
    align-self: baseline;
    border-radius: 8px;
    font-weight: bold;
    vertical-align: middle;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right-side {
    display: flex;
    align-items: center;
}

.information {
    padding: 0 128px 128px 128px;
}

.information .main {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 48px;
}

.information img {
    border-radius: 12px;
    border-width: 4px;
    border-color: #3882F6;
    border-style: solid;
}

.subtext {
    font-size: 18px;
    color: #8c8f93;
}

.all-sections {
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

.section {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    padding: 175px;
}

.quote-credit {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    padding: 0 36px 0 36px;
}

.call-to-action {
    margin: 48px 128px;;
    padding: 48px 96px;
    border-radius: 6px;
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.call-to-action button {
    border-color: #F9FAF8;
    border-width: 2px;
    border-style: solid;
}

.call-to-action .left-side {
    flex-grow: 2;
}

.call-to-action .right-side {
    flex-grow: 1;
    align-self: center;
}

.call-to-action .main {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 36px;
    color:#F9FAF8;
}